ion-icon {
    color: blue;
  }
/* <ion-icon size="large"></ion-icon> */
ion-icon {
    font-size: 64px;
  }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
.padding {
   margin-bottom: 50px;
}
body{
  background-color: rgb(154, 196, 231);
}
.card{
  border-color: #010711;
  border-style: solid;
  border-width: medium;
}
.container {
  align-items: flex-end;
}
.card {
  flex-grow: 4; /* default 0 */
}
.badgeImage {
  /* border: 5px solid darkblue; */
  width: 5rem;
}
.backround {
  background-image: url("./assets/beaches.jfif");
  
  text-align: center;
  height: 250px;
  opacity: 0.2;
  z-index: 2;
}
.backroundImages {
  position: relative; text-align: center;
}
.backImage {
  position: absolute;
  top: 30%;
}
.badgeImage {
  /* border: 5px solid darkblue; */
  width: 5rem;
}
.mr-3 {
  /* border: 5px solid darkblue; */
  width: 5rem;
}
.mr-6 {
  /* border: 5px solid darkblue; */
  width: 15rem;
}
.mt-0 {
  position: relative; text-align: center;
}
.mb-1 {
  padding: 5px;
}
.rounded-circle {
  width: 10rem;
  align-items: flex-end; 
}